body  {
    height: 100%;
    background-color: #4D7EA8;
    /* TEXT APPERARANCE AND SIZE */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    margin: 0;
  }

  header {
    height: 100px;
    position: fixed;
    flex-direction: row;
    top: 0;
    left: 0;
    right: 0;
    background: #152547;
    box-shadow: 0 3px 7px -3px #101624;
    padding: 0 10px 0 10px;
  }
  header h1  {
    width: 60%;
  }

  header h1 > a {
    color: white;
  }
  header h1 >a:hover {
    background: 
    linear-gradient(90deg, #DC3F3D, #E65F5C);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    filter: grayscale(0%);
    transition: filter 800ms;
  }

  
  header nav {
    display: flex;
    align-items: center;
    text-align: center;
  }

  #home {
    flex-flow: wrap;
    padding: 282.4px 40px 182.4px 40px;
    flex-direction: row;
    justify-content: space-around;
    
  }
  #languages {
    justify-content: space-around;
  }
  #projects {
    padding: 182.4px 0 172.4px 0;
    background-color: #152547;
    text-align: center;
    box-shadow: 0px -3px 7px -3px #101624, 0px 3px 7px -3px #101624;
    margin: 0px 0px 10px 0;
    
  }

  .projects_examples {
    display: inline-block;
    margin: 15px;
    background-color: #101624;
    height: 100px;
    width: 200px;
  }
  nav a {
    padding: 10px;
  }
  
  #contact {
    flex-flow: wrap;
    background: #4D7EA8;
    justify-content: space-around;
    padding: 0 10px 0 10px;
    margin: auto;
  }
  
  #contact div {
    padding: 20px;
  }

  #about {
    justify-content: space-around;
    background-color: #152547;
    box-shadow: 0px -3px 7px -3px #101624;
  }
  i {
    font-size: 50px;
  }
  a {
    color: white;
    text-decoration: none;
    background-image: linear-gradient(#E65F5C, #E65F5C);
    background-repeat: no-repeat;
    background-size: 0 100%;
    background-position-x: right;

    transition: background-size 500ms;
  }

  a:hover {

    background-size: 100% 100%;
    background-position-x: left;
  }

  #intro, #home img, #projects_menu {
    margin: 20px;
  }
  #intro h1, #projects h1 {
    margin-bottom: 60px;
  }
  #about, header, #home, #contact, #about{
    display: flex;
  }

  input { 
    height: 20px;
  }

