body  {
    height: 100%;
    background-color: #4D7EA8;
    /* TEXT APPERARANCE AND SIZE */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    margin: 0;
  }

  header {
    height: 10%;
    position: fixed;
    flex-direction: row;
    top: 0;
    left: 0;
    right: 0;
    background: #152547;
    box-shadow: 0 3px 7px -3px #101624;
    padding: 0 10px 0 10px;
  }
  header h1  {
    width: 60%;
  }

  header h1 > a {
    color: white;
  }
  header h1 >a:hover {
    background: 
    linear-gradient(90deg, #DC3F3D, #E65F5C);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    filter: grayscale(0%);
    transition: filter 800ms;
  }

  
  header nav {
    display: flex;
    align-items: center;
    text-align: center;
  }

  #home {
    padding: 11.4em 0 11.4em 0;
    flex-direction: row;
    justify-content: space-around;
  }


  #home img {
    align-items: center;
  }
  #projects {
    padding: 11.4em 0 11.4em 0;
    background-image: url("./images/background.jpg");
    background-color: #152547;
    text-align: center;
  }
  #projects p {
    margin-inline: 17%;
  }
  #project figure {
    display: flex;
  }
  #projects div {
    background-color: #101624;
    height: 100px;
    width: 100px;
  }
  nav a {
    padding: 10px;
  }
  
  #contact {
    background: #152547;
    justify-content: space-around;
    padding: 0 10px 0 10px;
    margin: auto;
  }
  
  #contact div {
    padding: 20px;
  }

  #about {
    margin: auto;
    background-color: #27324A;
  }

  a {
    color: white;
    text-decoration: none;
    background-image: linear-gradient(#E65F5C, #E65F5C);
    background-repeat: no-repeat;
    background-size: 0 100%;
    background-position-x: right;

    transition: background-size 500ms;
  }

  a:hover {

    background-size: 100% 100%;
    background-position-x: left;
  }


  #about, header, #home, #projects, #contact, #about{
    display: flex;
  }

  * {
    border : none;
  }

  input { 
    height: 20px;
  }

